body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.primary {
  background: #008b8b;
}

.full-height {
  height: 100vh;
}

.pad1 {
  padding: 5%;
}

.pad2 {
  padding: 2%;
}

.outlined {
  border: 1px solid;
  padding: 2px;
}

.btn {
  background: #008b8b;
  color: white;
  float: right;
  font-weight: bolder;
  border-radius: 50px;
}

.no-border {
  border: none;
}

.del-btn {
  float: right;
  color: red;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.todoItem {
  font-weight: bold;
}

.doneTodo {
  color: grey;
  text-decoration: line-through;
  font-weight: lighter;
}
